#img {
	text-align: right;
	background-color: #658CBB;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
a {
	color: black;
	padding: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #abc4ff;
}
a:hover {
	background-color: #d7e3fc;
}
.tinput {
	width: 400px;
	height: 30px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #ccc;
	transition: box-shadow 0.3s ease-in-out;
}
.tinput:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.tinput:focus {
	outline: none;
}
